@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  --accent-glow: rgba(29, 185, 84, 0.5); /* Spotify Green Glow */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow: hidden; /* Prevent scroll on the graph page */
}

/* Custom Scrollbar for overlays */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
